.button {
    border: 1px solid #333;
    margin: 23px;
}

.button--large {
    width: 210px;
    height: 60px;
}

.button--medium {
    width: 120px;
    height: 60px;
}

.button--small {
    width: 80px;
    height: 40px;
}
.theme-orange {
    background-color: #44dacc;
    background-image: linear-gradient(20deg,#ff4800 0,#ffa54d 100%);
}
.theme-blue {
    background: #5791ef linear-gradient(0deg,rgba(75,133,238,.67) 0,rgba(116,176,248,.67) 99%,rgba(116,176,248,.67));
}